<div ng-repeat="articulo in articulos">
	<div class="mdl-card mdl-shadow--8dp card-article">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">{{articulo.titulo}}</h2>
		</div>
		<div class="mdl-card__media">
			<img src="assets/img/{{articulo.imagen}}" width="100%" height="200x">
		</div>
		<div class="mdl-card__supporting-text">
			<p>{{articulo.descripcion}}</p>
		</div>
		<div class="mdl-card__actions mdl-card--border">
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#/">Ver</a>
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#/">Categoria</a>
		</div>
	</div>
</div>