<div class="mdl-grid">
  	<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone" ng-repeat="autor in autores">
  		<div class="mdl-card mdl-shadow--8dp card-user">
		  	<div class="mdl-card__title card-user-title">
		    	<p class="mdl-card__title-text card-user-name">{{autor.nombre}}</p>
		  	</div>
		  	<div class="mdl-card__media">
		    	<img src="assets/img/{{autor.imagen}}" width="100%" height="100x">
		  	</div>
		  	<div class="mdl-card__supporting-text">
		    	<p>{{autor.descripcion}}</p>
		  	</div>
		</div>
  	</div>
</div>