<div class="mapa">
	<div class="mdl-card mdl-shadow--8dp card-contact">
		<div class="mdl-card__title">
		    <p class="mdl-card__title-text">Universidad Tecnológica de Panama</p>
		</div>
		<div class="mdl-card__media">
		    <div id="googleMap" style="width:100%;height:350px;"></div>
		</div>
		<div class="mdl-card__supporting-text">
		    <p>Via Ricardo J. Alfaro</p>
		</div>
	</div>
</div>