body
{
	background: #f6f6f6;
}
.principal
{
	margin: 0 auto;
	max-width: 1200px;
	min-height: 450px;
}
.card-user
{
	height: 300px;
}
.card-user-title
{
	height: 70px;
}
.card-user-name
{
	font-size: 16px;
}
.card-article,
.card-user,
.card-contact
{
	width: 100%;
	margin: 35px 0px;
}
.input
{
	width: 100%;
}

/* admin */

.body-admin
{ 
	padding-top: 70px; 
	background: #f6f6f6;
}
.ta-editor 
{
 	min-height: 300px;
    height: 300px;
    overflow-y: scroll;
}
.btn-ver,
.btn-eliminar
{
	float: right;
}